* {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $nimbus-size;
  line-height: $line-height;
  font-family: $display-nimbus;
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p {
  font-family: $display-nimbus;
}

h1 {
  font-size: $hobo-size-m;
  line-height: $line-height-m;
  text-shadow: $fab-inverse;
}

.nimbus {
  font-family: $display-nimbus;
  font-size: $nimbus-size;
  line-height: $line-height;
  &.m {
    font-size: $nimbus-size-m;
    line-height: $line-height-m;
  }
  &.l {
    font-size: $nimbus-size-l;
    line-height: $line-height-l;
  }
  @include screen-size('small') {
    &.m {
      font-size: $nimbus-size;
      line-height: $line-height;
    }
    &.l {
      font-size: $nimbus-size-m;
      line-height: $line-height-m;
    }
  }
}

.hobo {
  font-family: $display-hobo;
  font-size: $hobo-size;
  line-height: $line-height;
    &.m {
      font-size: $hobo-size-m;
      line-height: $line-height-m;
    }
    &.l {
      font-size: $hobo-size-l;
      line-height: $line-height-l;
    }
    @include screen-size('small') {
      &.m {
        font-size: $hobo-size;
        line-height: $line-height;
      }
      &.l {
        font-size: $hobo-size-m;
        line-height: $line-height-m;
      }
    }
}
