@font-face {
    font-family: "HoboStd";
    src: url("HoboStd.eot");
    src: url("HoboStd.eot?#iefix") format("embedded-opentype"),
         url("HoboStd.woff2") format("woff2"),
         url("HoboStd.woff") format("woff"),
         url("HoboStd.ttf") format("ttf"),
         url("HoboStd.svg#HoboStd") format("svg");
    font-style: normal;
    font-weight: normal;
}