.pink {
	background-color: $background-color;
	mix-blend-mode: luminosity;
}

.mint {
	background-color: $mint;
	mix-blend-mode: luminosity;
}

#instagram-link {
  text-shadow: $fab;
}

#instagram {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 4;
	display: none;
	cursor: none;
}

#widget {
	// padding: 10px 10px 5px 10px;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    top: 50%;
    margin-top: -15%;
    height: auto;
    position: fixed;
    display: none;
	z-index: 5;
	pointer-events: none;
}

#insta-text {
	display: none;
	position: absolute;
	margin-top: -20px;
	color: white;
	z-index: 4;
	cursor: none;
}
